{% extends 'base.html.twig' %}

{% block title %} Liste des entreprises {% endblock %}

{% block body %}
    <h1> Listes des entreprises </h1>

    {% for entreprise in entreprises %}

    <br> {{ entreprise }} <br>
        
    {% endfor %}

{% endblock %}
