{# héritage de vue #}
{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}

    <h1> Liste des employés</h1>

    {% for employe in employes %}

        <a href="{{ path('show_employe',{'id': employe.id })}}"> {{ employe }} <br></a>

    {% endfor %}

{% endblock %}
