{# héritage de vue #}
{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}

    <h1 class="mx-5"> Liste des employés</h1>

    <div class="mx-5">
        {% for employe in employes %}

            <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ path('show_employe',{'id': employe.id })}}"> {{ employe }} </a>
            <a class="btn btn-warning" href="{{ path('edit_employe',{'id': employe.id })}}"> Edit </a>
            <a class="btn btn-danger" href="{{ path('supp_employe',{'id': employe.id })}}"> Supprimer </a> <br>


        {% endfor %}
    </div>
{% endblock %}
